html {
	background-color: #d9d9d9;
}

body {
	font-family: Palatino Linotype, Palatino, serif;
	font-size: 14px;
	line-height: 1.95em;
	color: #222;
	background-color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: gill sans book;
}

section {
	background-color: #f2f2f2;
	margin-top: 10px;
}

section.title {
	padding: 17px 55px 31px;
}

a {
	color:black;
}

section.links > .row > * {
	border-left: solid 5px;
	height:100px;
	padding-top: 38px;
}

section.links > .row > *:nth-child(1) {
	border-color: #f00;
}

section.links > .row > *:nth-child(2) {
	border-color: #0f0;
}

section.links > .row > *:nth-child(3) {
	border-color: #00f;
}

section.links > .row > *:nth-child(4) {
	border-color: #ff0;
}