html {
	background-color: #d9d9d9;
}

body {
	font-family: Palatino Linotype, Palatino, serif;
	font-size: 14px;
	line-height: 1.95em;
	color: #222;
	background-color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: gill sans book, sans serif;
}

section {
	background-color: #f2f2f2;
}

section.title {
	padding: 17px 55px 31px;
	margin-top: 10px;
}

section.links {
	text-align: center;
	margin-bottom: 10px;
	padding-bottom: 34px;
}

section.links a {
	color: #636363;
	font-size: 40px;
	font-family: social media icons;
}

section.links a:hover {
	color: #222;
	text-decoration: none;
}

section.links a.octicon {
	font-family: octicons;
	font-size: 27px;
	position: relative;
	top: 5px;
}

.octicon-mark:before {
	content: '\f00a';
}
